In [1]:
import pandas as pd

#Project Overview

Analyze which countries have the best life expectancy.

Data comes from https://www.kaggle.com/datasets/shreyasg23/life-expectancy-averaged-dataset and has several different datapoints from 179 unique values.

#Data Collecting and Loading

In [3]:
life_expectancy = pd.read_csv('life-expectancy-data-averaged.csv')

In [4]:
life_expectancy.head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,Polio,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status,Life_expectancy
0,Afghanistan,Asia,2007.5,71.08125,98.61250,265.804969,0.016125,64.5625,24.3750,22.46250,55.3750,55.1250,0.022500,408.5625,27.450625,16.58125,15.58125,2.90000,1.0,59.65625
1,Albania,Rest of Europe,2007.5,15.25625,17.14375,83.132969,4.696875,98.0000,95.9375,25.85625,98.1250,98.0625,0.025625,3071.1250,2.969375,1.61875,1.70000,9.24375,1.0,75.95000
2,Algeria,Africa,2007.5,26.75625,31.19375,113.439281,0.400625,88.3125,93.2500,24.86875,91.7500,91.8750,0.021875,3745.1250,34.820625,6.09375,5.97500,6.99375,1.0,73.78750
3,Angola,Africa,2007.5,88.76875,144.16250,297.844063,4.935625,68.8125,64.0000,22.51875,35.7500,55.5625,1.303750,2647.8125,21.623750,6.19375,6.66875,4.60625,1.0,52.82500
4,Antigua and Barbuda,Central America and Caribbean,2007.5,9.47500,11.51875,142.478813,7.755000,98.2500,75.4375,25.85000,96.9375,98.3125,0.125000,14678.7500,0.085000,3.42500,3.37500,9.01875,1.0,75.35000

In [8]:
life_expectancy.loc[:, ['Country', 'Region', 'Year', 'Infant_deaths', 'Adult_mortality', 'Life_expectancy']]

,Country,Region,Year,Infant_deaths,Adult_mortality,Life_expectancy
0,Afghanistan,Asia,2007.5,71.08125,265.804969,59.65625
1,Albania,Rest of Europe,2007.5,15.25625,83.132969,75.95000
2,Algeria,Africa,2007.5,26.75625,113.439281,73.78750
3,Angola,Africa,2007.5,88.76875,297.844063,52.82500
4,Antigua and Barbuda,Central America and Caribbean,2007.5,9.47500,142.478813,75.35000
...,...,...,...,...,...,...
174,"Venezuela, RB",South America,2007.5,15.85000,151.056156,72.79375
175,Vietnam,Asia,2007.5,19.50000,133.054406,74.33125
176,"Yemen, Rep.",Middle East,2007.5,52.44375,239.653938,64.16250
177,Zambia,Africa,2007.5,60.58125,452.761219,52.33125
178,Zimbabwe,Africa,2007.5,50.16875,572.974312,48.66250

#Data Cleaning and Preparation 

Handle missing files: I will be marking any empty numbers as 'Unknown' instead of dropping them because of the other data present in the table.

In [7]:
life_expectancy_filled = life_expectancy.fillna('Unknown')

Data Type Adjustments: Adjusting columns that have decimals to only having 2 decimal places, converting the column 'Year' to an int, and converting the columns 'Country' and 'Region" as categories.

In [ ]:
columns_to_round = [
    'Infant_deaths', 'Under_five_deaths', 'Adult_mortality', 'Alcohol_consumption',
    'Hepatitis_B', 'Measles', 'BMI', 'Polio', 'Diphtheria', 'Incidents_HIV',
    'GDP_per_capita', 'Population_mln', 'Thinness_ten_nineteen_years',
    'Thinness_five_nine_years', 'Schooling', 'Life_expectancy'
]
life_expectancy[columns_to_round] = life_expectancy[columns_to_round].round(2)


life_expectancy['Year'] = life_expectancy['Year'].round().astype(int)


life_expectancy['Country'] = life_expectancy['Country'].astype('category')
life_expectancy['Region'] = life_expectancy['Region'].astype('category')
life_expectancy['Economy_status'] = life_expectancy['Economy_status'].astype(int)


life_expectancy.info()

Feature Engineering: I will make a category that will tell if a country has high, medium, or low life expectancy. 

High: Life expectancy > 70 years
Medium: Life expectancy is between 50 and 70 years
Low: Life expectancy is < 50 years

In [11]:
def categorize_life_expectancy(value):
    if value < 50:
        return "Low"
    elif 50 <= value < 70:
        return "Medium"
    else:
        return "High"

life_expectancy['Life_expectancy_category'] = life_expectancy['Life_expectancy'].apply(categorize_life_expectancy)

In [15]:
life_expectancy[['Country', 'Life_expectancy', 'Life_expectancy_category']].head()

               Country  Life_expectancy Life_expectancy_category
0          Afghanistan            59.66                   Medium
1              Albania            75.95                     High
2              Algeria            73.79                     High
3               Angola            52.82                   Medium
4  Antigua and Barbuda            75.35                     High